*{
  padding: 0;
  margin: 0;

}

.header__info{

  


}

.npc{
  font-size: 30px;
}
.header_tytle{
  background-image: url('../resorce/images/Banner\ Image.png');
  background-position: top center;
background-size: cover;
height: 300px;
width: 800px;
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content:  center;
  text-align: center;


}
/* ===========>offer section=========> */
.offer{
  color: red;
  font-size: 50px;
  text-align: center;
  padding: 40px 0  0  0 ;
  font-weight: 380px;
}
.offer_2{
  text-align: center;
  color: #FF0000;
  font-size: 15px;
  margin-top: 10px;
}
.catagory{
  color: #070211;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
font-weight: bolder;

}

.img{
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
/* ===========> mid work */
.welcome_container{
  background-image: url('../resorce/images/Vectorrr.png');
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
 

}
.welcome_container{
  display: flex;
  gap: 90px;
}
.group_photo{
  height: 440px;
  width: 300px;
}
.welcome_anounc{
  color: #FFFFFF;
  
}
.font_common_style{
  font-weight: 900;
  font-size: 60px;
}
.Welcome_discription{
  color: rgba(255, 255, 255, 0.651)
}
.join{
  margin: 50px auto;
  font-weight: 700;
  font-size: 20px;
}