* {
  padding: 0;
  margin: 0;
}

.header__info {
}

.main {
  width: 100%;
  overflow: hidden;
  padding-bottom: 200px;
}

.npc {
  font-size: 30px;
}
.header_tytle {
  background-image: url("../resorce/images/Banner\ Image.png");
  background-position: top center;
  background-size: cover;
  height: 300px;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* ===========>offer section=========> */
.offer {
  color: red;
  font-size: 50px;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 380px;
}
.offer_2 {
  text-align: center;
  color: #ff0000;
  font-size: 15px;
  margin-top: 10px;
}
.catagory {
  color: #070211;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
}

.img {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ===========> mid work */
.welcome_container {
  background-image: url("../resorce/images/Vectorrr.png");
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 95%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome_container {
  display: flex;
  gap: 90px;
}
.group_photo {
  height: 440px;
  width: 300px;
}
.welcome_anounc {
  color: #ffffff;
}
.font_common_style {
  font-weight: 900;
  font-size: 60px;
}
.Welcome_discription {
  color: rgba(255, 255, 255, 0.651);
}
.join {
  margin: 50px auto;
  font-weight: 700;
  font-size: 20px;
}
/* date and time */
.date_time {
  background-color: #c7b6b686;
  background-position: top center;

  height: 200px;
  width: 1000px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
div > .date_time_text {
  font-size: 26px;
  font-weight: 600;
  padding: 40px;
  /* margin-bottom: 20px; */
}
.common_color {
  color: #ff0000;
}
.button {
  background-color: #ff0000;
  color: #ffffff;
  border: 0cap;
  padding: 15px;
  border-radius: 30px;
}

.o1 {
  color: #ff0000;
  margin-bottom: 20px;
  font-weight: 670;
}
.o2 {
  color: #070211;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.o3 {
  color: #1a11119f;
}
.round_img {
  border: 10px solid red;
  border-radius: 150px;
  height: 250px;
  width: 250px;
  padding: 20px;
}
.red_year {
  color: #ff0000;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}
.information {
  color: #070211a2;
}
.next_year_offer_info {
  display: flex;
  align-items: center;
  margin: 40px 50px 0px 100px;
  gap: 90px;
  margin-bottom: 100px;
}
/* funtional work */
.sale {
  font-size: 40px;
  font-weight: 900;
}
.funtional_container {
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.what_functional {
  color: #070211;
}
.holiday_color {
  color: #ff0000;
}
.funtion_discription {
  color: #0702119c;
}
/* box decoretion */
.box_img {
  height: 300px;
  width: 400px;
  margin-top: -200px;
}
.box_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #ff0000;
  height: 190px;
  margin: 10%;
  margin-top: 300px;
}
.round_img_44 {
  margin-top: -480px;
}
.best_gift {
  color: #ff0000;
}
.Awesome {
  font-size: 30px;
  font-weight: 600;
}
.gift_discription {
  color: #070211a1;
}
.gift_container {
  justify-content: center;
  margin-left: 140px;
  margin-bottom: 40px;
}

.subscribe {
  font-size: 30px;
  font-weight: 600;
  color: #070211;
}
.subscribe_discription {
  color: #0702118a;
}
.subscribe_container {
  text-align: center;
  background-color: rgba(221, 160, 221, 0.932);
  margin: 0px 100px;
  padding: 100px 0px;
}

.gift_images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 20px 80px;
  overflow: hidden;
}

.gift_pic {
  width: 100%;
  height: 300px;
  flex-grow: 1;
  display: block;
  margin-right: 10px;
}

.subscribe_input_container {
  /* display: flex;
  justify-content: center; */
}
.subscribe_btn {
  background-color: #ff0000;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-left: -6px;
}
.email_input {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: none;
  outline: none;
}
.p10 {
  padding: 10px 15px;
}
